
.site {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;

}

.size {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;

    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.content {
    position: relative;
    left: 0;
    top: 13vw;
    width: 100%;
    height: auto;

    overflow-x: visible;
    overflow-y: visible;
}

.watermark {
    z-index: 0;
    width: 600px;
    height: 600px;
    position: fixed;
    top: calc(50% - 300px);
    left: calc(50% - 300px);
    opacity: 0.3;
}

.bgcolor {
    z-index: -1;
    background: #003F5A; /* Browsers without gradient support */
    background: -webkit-radial-gradient(circle, #008FCF, #003F5A); /* Safari */
    background: -webkit-gradient(circle, #008FCF, #003F5A); /* Chrome */
    background: -o-radial-gradient(circle, #008FCF, #003F5A); /* Opera */
    background: -moz-radial-gradient(circle, #008FCF, #003F5A); /* Firefox */
    background: radial-gradient(circle, #008FCF, #003F5A); /* Standard */
}

.fill {
    z-index: -1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.title {
    display: block;
    position: relative;
    width: auto;
    height: auto;
    margin: auto;
    padding: 15px;

    text-align: center;
    font-family: 'Oxygen';
    color: white;
    font-size: 70px;
    font-weight: bold;
    z-index: 2;
    white-space: nowrap;
}

.displaybox {
    display: block;
    position: relative;
    max-width: 800px;
    height: auto;
    padding: 15px;
    margin: auto;
    margin-bottom: 80px;

    background: rgba(150, 150, 150, 0.8);
    border-radius: 10px;
    border: 10px solid white;
}

.textbox l1 {
    font-family: 'Oxygen';
    color: white;
    font-size: 33px;
    font-weight: bold;
}
.textbox l2 {
    font-family: 'Rubik';
    color: white;
    font-size: 18px;
    font-weight: normal;
}

a {
    color: white;
    font-weight: bolder;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

.middle {
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}