.slidebox {
    background: rgb(225, 225, 225);
    width: auto;
    height: auto;
    position: absolute;
    left: 50%;
    top: 55%;
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.slides {
    display: none;
}

.slideImg {
    width: 45vw;
    height: 25vw;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    -o-animation-name: fade;
    -o-animation-duration: 1.5s;
    -moz-animation-name: fade;
    -moz-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@-o-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@-moz-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -42px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 45px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0,0,0,0.8);
}