.aboutbox {
    top: 30%;
    left: 57%;
    width: calc(78% - 20px);
    -o-transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    position: absolute;
    height: calc(65% - 20px);
}

.abouttextbox {
    width: calc(100% - 40px);
    top: 50%;
    left: 50%;
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
}
.abouttextbox l1 {
    font-family: 'Oxygen';
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.abouttextbox l2 {
    font-family: 'Rubik';
    color: white;
    font-size: 17px;
    font-weight: normal;
}

.facebook {
    left: 4%;
    top: 40%;
    position: absolute;
    -o-transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}

.mail {
    left: 4%;
    top: 62%;
    position: absolute;
    -o-transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}

.uofc {
    left: 4%;
    top: 84%;
    position: absolute;
    -o-transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}
