/*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #FFFFFF;
}
::-webkit-scrollbar-button {
    height: 7px;
}
*/
.councillist {
    width: calc(46% - 20px);
    /*max-height: 500px;*/
    min-width: 200px;
    overflow: auto;
}

.councilinfo {
    width: calc(46% - 20px);
    height: auto;
}

.box {
    display: block;
    position: relative;
    height: auto;
    margin: auto;
    padding-top: 5%;
    padding-bottom: 5%
}

.picture {
    display: inline;
    float: left;
    width: 7vw;
    height: 7vw;
    border: 3px solid #FFFFFF;
    background-color: #BBBBBB;
    margin: 10px;
}

.email {
    display: inline;
    float: right;
}

.text {
    display: inline;
    height: auto;
    width: auto;
}
.text l1 {
    font-family: 'Oxygen';
    color: white;
    font-size: 2vw;
    font-weight: bold;
}
.text l2 {
    font-family: 'Rubik';
    color: white;
    font-size: 1.3vw;
    font-weight: normal;
}