#calendar {
    position: relative;
    margin: auto;
    width: auto;
    height: auto;
    font-family: 'Oxygen';
    color: white;
    z-index: 4;
}

.fc-head {
    background: rgb(150, 150, 150);
    background: rgba(150, 150, 150, 0.4);
}

.fc-day.fc-today {
    position: relative;
}

.fc-day.fc-today::before,
.fc-day.fc-today::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-color: transparent;
    border-style: solid;
}

.fc-day.fc-today::before {
    border-width: 1.5em;
}

.fc-day.fc-today::after {
    border-radius: 0;
    border-width: 1.3em;
    border-right-color: rgb(159, 205, 236);
    border-top-color: rgb(159, 205, 236);
}

.fc-unthemed td.fc-today {
    background: none !important;
}

.fc-body {
    background: rgb(150, 150, 150);
    background: rgba(150, 150, 150, 0.4);
}

.calendaroutline {
    background: rgba(0, 143, 207, 0.9);
}

.fc h2 {
    font-size: 30px;
}
