.calendar {
    position: absolute;
    top: 50px;
    left: 50%;
    width: 70%;
    -o-transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    font-family: 'Oxygen';
    color: white;
}

.fc-head {
    background: rgb(150, 150, 150);
    background: rgba(150, 150, 150, 0.4);
}

.fc-day.fc-today {
    position: relative;
}

.fc-day.fc-today::before,
.fc-day.fc-today::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-color: transparent;
    border-style: solid;
}

.fc-day.fc-today::before {
    border-width: 1.5em;
}

.fc-day.fc-today::after {
    border-radius: 0;
    border-width: 1.3em;
    border-right-color: rgb(159, 205, 236);
    border-top-color: rgb(159, 205, 236);
}

.fc-unthemed td.fc-today {
    background: none !important;
}

.fc-body {
    background: rgb(150, 150, 150);
    background: rgba(150, 150, 150, 0.4);
}

.displaybox {
    background: none;
    border-radius: 10px;
    border: 10px solid white;
}

.calendaroutline {
    position: absolute;
    top: 99px;
    left: 50%;
    width: 70%;
    height: 470px;
    -o-transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

.fc h2 {
    font-size: 30px;
}
