#calendar {
    position: relative;
    margin: auto;
    width: auto;
    height: auto;
    font-family: 'Oxygen';
    color: white;
    z-index: 4;
}

.fc-head {
    background: rgb(150, 150, 150);
    background: rgba(150, 150, 150, 0.4);
}

.fc-day.fc-today {
    position: relative;
}

.fc-day.fc-today::before,
.fc-day.fc-today::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-color: transparent;
    border-style: solid;
}

.fc-day.fc-today::before {
    border-width: 1.5em;
}

.fc-day.fc-today::after {
    border-radius: 0;
    border-width: 1.5vw;
    border-right-color: rgb(159, 205, 236);
    border-top-color: rgb(159, 205, 236);
}

.fc-unthemed td.fc-today {
    background: none !important;
}

.fc-body {
    background: rgb(150, 150, 150);
    background: rgba(150, 150, 150, 0.4);
}

.calendaroutline {
    background: none;/*rgba(0, 143, 207, 0.9);*/
    margin-top: 2vw;
    margin-bottom: 0;
    /*min-width: 400px;*/
}

.fc h2 {
    font-size: 2vw;
    float: right !important;
}

th {
    font-size: 1vw;
}

.fc button {
    padding: 0 0.2vw !important;
    font-size: 1.1vw !important;
}

 .fc-toolbar.fc-header-toolbar {
    margin-bottom: 1vw !important;
 }

 .fc-day-number {
    font-size: 1vw !important;
 }

.fc-row.fc-week.fc-widget-content {
    min-height: 0 !important;
    height: 10vh !important;
}

.fc-day-grid-container {
    height: auto !important;
}

.fc-toolbar .fc-center {
    float: right;
    margin-right: 1vw;
}